.navy a {
    display: inline;
    padding: 10px 30px;
    color: chocolate;
    font-size: 30px;
    text-decoration: none;
}

.spic {
    display: flex;
    flex-basis: 20%;
}

.navy {
    display: flex;
    flex-basis: 70%;
}

.right-half p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 32px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.left-half h2 {
    font-size: 40px;
}

.third_sec ul {
    text-decoration: none;
}